# Daily Min Temperature Forecasting using Rolling Windows and RNN

# About Dataset

Provides data for beginners to implement forecasting models over real world tourist numbers visiting an island. Date is in unicode format from 1995 to 2015

In [10]:
import pandas as pd
import numpy as np
import tensorflow as tf
import csv

In [11]:
dataset_path = "./data/data.csv"
df = pd.read_csv(dataset_path)
df.head(10)

    Date  TouristNumber
0  33604           8414
1  33635           9767
2  33664          13805
3  33695          12987
4  33725          32190
5  33756          46383
6  33786          57570
7  33817          52261
8  33848          30125
9  33878          17522

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           288 non-null    int64
 1   TouristNumber  288 non-null    int64
dtypes: int64(2)
memory usage: 4.6 KB

In [19]:
import datetime
timestamp = datetime.datetime.fromtimestamp(33786)
print(timestamp.strftime('%Y-%m-%d'))

1970-01-01

In [26]:
df['Date'] = datetime.datetime.fromtimestamp(df['Date']).strftime('%Y-%m-%d')

TypeError: cannot convert the series to <class 'int'>